body, html {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-size: 16px;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Tahoma;
    /*position: relative;*/
    display:flex;
    flex-direction:column;
}

* {
    box-sizing: border-box;
}

header {
    /*background: #444;*/
    /*color: #eee;*/
    background: #eee;
    text-align: center;
    font-size: 32px;
    padding: 1em 0;
}

header a {
    color: #eee;
    color: #678;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #eee;
    font-size: 15px;
}

nav a {
    display: block;
    padding: 10px 20px;
}

.container {
    padding: 60px 20px 80px;
    width: 700px;
    margin: 0 auto;
}

a {
    color: #07f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ddd;
}

input {
}

textarea {
    height: 400px;
}

input,
textarea {
    width: 100%;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    color: #888;
}

button.action {
    background: #2196F3;
    padding: 12px 22px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.5px;
}

button.action:hover {
    background: #1971b7;
}

.date {
    /*font-size: 0.8em;*/
    color: #999;
    margin-right: 12px;
    padding-top: 2px;
}

.details {
    font-size: 0.9em;
    margin-bottom: 1em;
    display: flex;
}

.details a {
    background: #eee;
    padding: 2px 4px;
    margin-right: 6px;
    font-size: 0.9em;
}

.details a:hover {
    background: #e5e5e5;
}

.admin_bar {
    background: #ffc;
    padding: 8px;
    font-size: 0.9em;
    opacity: 0.6;
}

.admin_bar:hover {
    opacity: 1;
}


h1 {
    font-size: 1.8em;
    font-family: Montserrat;
}

h2 {
    font-size: 1.45em;
    font-family: Montserrat;
    color: #333;
}

h2 a {
    color: #333;
}

h3 {
    font-size: 1.2em;
    color: #444;
}

p {
    line-height: 1.6em;
    margin-bottom: 1.1em !important;
}

#disqus_thread {
    border-top: 1px solid #ddd;
    margin-top: 5em;
}

#news_body {
}

.news_list article {
    padding: 20px 0;
    margin: 0;
    /*margin-bottom: 3.5em;*/
}

.news_list h2 {
    /*margin-top: 2em;*/
    margin-bottom: 0.5em;
}

@media only all and (max-width: 700px) {
    .container {
        width: 100%;
    }
}
