body, html {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-size: 16px;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Tahoma;
    /*position: relative;*/
    display:flex;
    flex-direction:column;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #eee;
    background-image: url(/img/header.png);
    background-repeat: repeat-x;
    text-align: center;
    font-size: 32px;
    padding: 1em 0 0.5em;
}

header a {
    color: #eee;
    color: #678;
    letter-spacing: 10px;
}

nav {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

nav a {
    display: block;
    padding: 10px 22px;
    letter-spacing: 0.05em;
}

.container {
    padding: 60px 20px 80px;
    width: 700px;
    margin: 0 auto;
}

a {
    color: #07f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ddd;
}

input {
}

textarea {
    height: 400px;
}

input,
textarea {
    width: 100%;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    color: #888;
}

button.action {
    background: #2196F3;
    padding: 12px 22px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.5px;
}

button.action:hover {
    background: #1971b7;
}

.date {
    /*font-size: 0.8em;*/
    color: #999;
    margin-right: 12px;
    padding-top: 2px;
}

.details {
    font-size: 0.9em;
    margin-bottom: 1em;
    display: flex;
}

.details a {
    margin-top: 1px;
    background: #f6f6f6;
    padding: 1px 3px;
    margin-right: 6px;
    font-size: 0.9em;
    color: #aaa;
}

.details a:hover {
    background: #eee;
    text-decoration: none;
}

.admin_bar {
    background: #f1f1e4;
    padding: 8px 10px;
    font-size: 0.9em;
    opacity: 0.8;
    margin-bottom: 1em;
}

.warning {
    background: #fbef96;
    padding: 8px 10px;
    font-size: 0.9em;
    margin-bottom: 1em;
    color: #900;
}

h1 {
    font-size: 1.8em;
    font-family: Montserrat;
}

h2 {
    font-size: 1.45em;
    font-family: Montserrat;
    color: #333;
}

h2 a {
    color: #333;
}

h3 {
    font-size: 1.2em;
    color: #444;
}

p {
    line-height: 1.6em;
    margin-bottom: 1.1em !important;
}

#disqus_thread {
    border-top: 1px solid #ddd;
    margin-top: 5em;
}

#news_body {
}

.news_list article {
    padding: 20px 0;
    margin: 0;
    /*margin-bottom: 3.5em;*/
}

.news_list h2 {
    /*margin-top: 2em;*/
    margin-bottom: 0.5em;
}

.pagination {
    margin-top: 4em;
    padding-top: 2em;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.flash {
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 18px 30px;
    background: rgba(72, 214, 72, 0.7);
    color: #fff;
    border-radius: 3px;
    font-size: 0.9em;
}

@media only all and (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .flash {
        width: 100%;
        top: 0;
        right: auto;
        text-align: center;
    }
}
